services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - MAX_TOKEN=${MAX_TOKEN}
      - REDIS_URL=${REDIS_URL} 
    restart: always
  cache:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes: 
      - redis-data:/data

volumes:
  redis-data:
    driver: local


networks:
  default:
    driver: bridge
