services:
  # app:
  #   build: .
  #   ports: ["3000:3000"]
  #   environment:
  #     - REDIS_URL=redis://cache:6379
  #   depends_on:
  #     - cache

  # The Redis Cache
  cache:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes: 
      - redis-data:/data

volumes:
  redis-data:
    driver: local


networks:
  default:
    driver: bridge
